.nav-menu{
    position: fixed;
    padding: 15px 100px;
    height: auto;
    width: 100%;
}

#navigation-ul {
    transition: 0.4s ease;
    display: inline;
    float: right;
    font-size: 130%;
    margin-top: 15px;
}

.list-element {
    display: inline;
    padding: 0 15px;
}

.list-element a{
    transition: 0.4s ease;
    color: white;
}

.list-element a:hover{
    color: #00FF00;
}