#home-section{
    height: 1000px;
    background-image: url(" ../images/software-development.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

#service-section {
    height: 1000px;
    width: 100%;
    background: rgba(25,25,25,1.00);
    padding: 100px 100px 40px 100px;
    color: white;
    text-align: center;
}

#service-section h1{
    font-size: 230%;
}

#announcement-container {
    background-color: transparent;
    padding-top: 200px;
    padding-left: 100px;
    color: white;
}

#announcement-container h1{
    font-size: 230%;
}

#info-text{
    font-size: 150%;
}

.submit-btn {
	transition: 0.4s ease;
	box-sizing: border-box;
	height: 40px;
	width: 80px;
	border-style: none;
	border-radius: 5px;
    background-color: #0AA320;
	color: white;
	text-shadow:none; 
	box-shadow: none;
	font-size: 90%;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #00D700;
}

.submit-btn:focus{
	outline: none;
}

.email-input {
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0 15px;
	background-color: rgba(255,255,255,0.8);
	border: none;
	border-radius: 5px;
	font-size: 110%;
}

.focus-style:focus {
	outline: none;
	box-shadow: 0 0 3pt 0.3pt #00FF00;
}

.service-section {
    height: 700px;
    width: 32%;
    background-color: rgba(32,32,32,1.00);
    margin: 40px 0;
    padding: 20px;
    border-radius: 15px;
}

.service-left{
    float: left;
}

.service-center{
    display: inline-block;
    marign: 0 auto;
}

.service-right{
    float: right;
}