@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Abel', sans-serif;
    background-color: rgba(30,30,30,1.00);  
}

h1,h2,h3,h4,h5,h6{
    font-weight: lighter;
    color: lightgray;
}

a{
    text-decoration: none;
}

#image-section{
    height: 1000px;
    background-image: url(" ../images/software-development.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

#main-section {
   height: 1000px;
    width: 100%;
    background: rgba(30,30,30,1.00);
}
